<h1>Daily orders {{today}}</h1>
<div *ngIf="deliveries && deliveries.length > 0; else nodeliveries" class="container-fluid">
  <div class="row">
    <mat-card class="col-12 p-5 mat-elevation-z4" *ngFor="let delivery of deliveries">
      <div class="col-12">
        <div class="col-12 d-flex p-0">
          <div class="col-4">
            <div class="card-label">Recipient</div>
          </div>
          <div class="col-4">
            <div class="card-label">Planned delivery interval</div>
          </div>
          <div class="col-4">
            <div class="card-label">Courier</div>
          </div>
        </div>
        <div class="col-12 d-flex p-0">
          <div class="col-4">
            <div class="card-content">{{delivery.recipientName}}</div>
          </div>
          <div class="col-4">
            <div class="card-content">
              {{delivery.estimatedDeliveryStart | date}}-{{delivery.estimatedDeliveryEnd | date}}</div>
          </div>
          <div class="col-4 d-flex">
            <mat-select style="max-width:200px" matNativeControl [(value)]="delivery.courier">
              <mat-option *ngFor="let courier of couriers" [value]="courier">
                {{courier.displayName}}
              </mat-option>
            </mat-select>
            <button style="color:white" class="rounded-button ml-3" mat-raised-button (click)="setCourier(delivery)">
              Set Courier&nbsp;&nbsp;</button>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="col-4">
          <div class="card-label">Description</div>
        </div>
        <div class="col-8">
          <div class="card-label">Status</div>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="col-4">
          <div class="card-content">{{delivery.description}}</div>
        </div>
        <div class="col-4 d-flex">
          <mat-select style="max-width:200px" matNativeControl [(value)]="delivery.state">
            <mat-option *ngFor="let state of deliveryStates" [value]="state">
              {{state | deliveryState}}
            </mat-option>
          </mat-select>
          <button style="color: white;" class="rounded-button ml-3" mat-raised-button
            (click)="changeDeliveryState(delivery)">Change&nbsp;&nbsp;</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<ng-template #nodeliveries>
  <h2>No deliveries for today</h2>
</ng-template>