<mat-card class="col-12 col-xl-6 p-5" *ngIf="delivery">
  <mat-grid-list cols="4" rowHeight="90px">
    <mat-grid-tile>
      <div class="card-label">Recipient</div>
      <div class="card-content">{{delivery.recipientName}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="card-label">Planned delivery interval</div>
      <div class="card-content">{{delivery.estimatedDeliveryStart | date}}</div>
      <div class="card-content">{{delivery.estimatedDeliveryEnd | date}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card-label">Courier</div>
      <div class="card-content">
        <ng-container *ngIf="delivery.courier; else nocourier">
          {{delivery.courier?.displayName | deliveryState}}
        </ng-container>
        <ng-template #nocourier>
          No courier is assigned to your delivery yet
        </ng-template>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="card-label">Description</div>
      <div class="card-content">{{delivery.description}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card-label">Status</div>
      <div class="card-content">{{delivery.state}}</div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
