mat-card {
  border-radius: 25px;
  padding: 30px;
  margin: 40px;
}
.card-label {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #739ebb;
}
.card-content {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
