/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rounded-button {
  background-color:#0871b8;
  border-radius:40px !important
}

mat-card.mat-card {
  border-radius: 25px;
  padding: 30px;
}
.card-label {
  font-family:Roboto,Helvetica Neue,sans-serif;color:#0871b8;font-size: 16px;
}
.card-content {
  font-family:Roboto,Helvetica Neue,sans-serif;color:#3e3e3e;font-size: 14px;
}
