<span style="font-family: NotoSans;font-size: 24px;color:#0871b8">
    My couriers
</span>
<button class="rounded-button float-right p-1" style="color:white; font-size: 18px;" (click)="add()"
    mat-raised-button>&nbsp;&nbsp;&nbsp;Add courier&nbsp;&nbsp;&nbsp;</button>
<div style="background-color: #f9f9f9">
    <div *ngFor="let currier of curriers">
        <mat-card class="mat-elevation-z1" class="col-7 d-flex p-5 float-left"
            style="background-color:white;margin-right:auto;margin-left: auto;border-radius: 40px;margin-top: 60px;">
            <div name="image" class="col-2">
                <img src="{{currier.logoUrl}}" style="height: 74px;width: 74px;border-radius: 40px;">
            </div>
            <div name="data" class="col-10">
                <div name="headers" class="col-12 d-flex mt-2">
                    <div class="col-4" style="font-family:Heebo;color:#0871b8;font-size: 16px;">Name</div>
                    <div class="col-4" style="font-family:Heebo;color:#0871b8;font-size: 16px;">Phone number</div>
                    <div class="col-4" style="font-family:Heebo;color:#0871b8;font-size: 16px;">Email</div>
                </div>
                <div name="headerdata" class="col-12 d-flex mt-4">
                    <div class="col-4" style="font-family:Heebo;color:#3e3e3e;font-size: 14px;">{{currier.displayName}}</div>
                    <div class="col-4" style="font-family:Heebo;color:#3e3e3e;font-size: 14px;">{{currier.phoneNumber}}</div>
                    <div class="col-4" style="font-family:Heebo;color:#3e3e3e;font-size: 14px;">{{currier.email}}
                    </div>
                </div>
            </div>
          </mat-card>
    </div>
</div>
