<div class="background">
    <div class="right"><span class="header-text">Already have an account?</span> <button mat-raised-button color="warn" (click)="Login()">Log In</button></div>

    <div class="d-flex" style="margin-top: 100px;">
        <div class="w-50" style="margin-left: auto;margin-right: auto;">
            <div class="card" style="width: 500px; border-radius: 20px; border-color:#0871b8; border-width: 2px;margin-left: auto;margin-right: auto; width: 500px;">
                <img class="card-img-top" style="height:200px;width:300px;margin-left: auto;margin-right: auto;" src="/assets/im_sending_logo.svg" />
                <a href="/register"  style="text-decoration: none">
                    <div class="card-body" style="background-color: #0871b8; color: white;font-size: large; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;text-align: center;">
                        <p class="card-text">SME registration</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-50" style="margin-left: auto;margin-right: auto;">
            <div class="card" style="width: 500px; border-radius: 20px; border-color:#f39322; border-width: 2px;margin-left: auto;margin-right: auto;width: 500px;">
                <img class="card-img-top" style="height:200px;width:300px;margin-left: auto;margin-right: auto;" src="/assets/im_coming_logo.svg" />
                <a href="/register" style="text-decoration: none">
                    <div class="card-body" style="background-color: #f39322; color: white;font-size: large; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;text-align: center;">
                        <p class="card-text" >Delivery company registration</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex" style="margin-top: 80px;">
        <div class="w-50" style="margin-left: auto;margin-right: auto;">
            <div class="footer-text" style="width: 574px;margin-left: auto;margin-right: auto;">
                <p style="text-align: center;">Join as a an SME, if you want to start<br>managing your orders easily!</p>
        </div>
        </div>
        <div class="w-50" style="margin-left: auto;margin-right: auto;">
            <div class="footer-text " style="width: 574px;margin-left: auto;margin-right: auto;">
                    <p style="text-align: center;">Join as a delivery company, if you want<br>to deliver more efficiently!</p>
            </div>
        </div>
    </div>
</div>
